<html>

<head>
    <title>Uibe Interview Mock</title>
</head>

<body style="background-color: rgba(0, 0, 0, 0.05);">
    <div
        style="width: 80%;background-color: #fff;margin: 40px auto;border-radius: 20px;padding: 30px;padding-top: 20px;max-height:fit-content;">
        <h1>🥳UIBE INTERVIEW MOCK 🙌</h1>
        <div
            style="margin-top: 50px;font-weight: 600;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            欢迎您注册Interview Mock，以下是您的登录验证码</div>
        <div
            style="margin-top: 50px;font-weight: 400;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: rgba(0,0,0,0.6);">
            复制并粘贴此验证码，注意验证码仅在接下来的 5 分钟内有效。</div>
        <div
            style="height: 80px;width: 70%;margin: 50px auto;background-color: rgba(0,0,0,0.1);border-radius: 10px;display: flex;align-items: center;justify-content: center;">
            <h1>000000</h1>
        </div>
        <div
            style="font-weight: 400;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: rgba(0,0,0,0.6);">
            如果您没有请求注册，请不要担心。您可以安全地忽略此电子邮件。</div>
        <div style="font-weight: 400;color: rgba(0,0,0,0.6);font-size: small;margin-top: 10px;margin-bottom: 30px;">
            © &nbsp;<span id="nowyear"></span> &nbsp; UIBE 𝕏 Interview Mock.</div>

    </div>
    <script>
        document.getElementById('nowyear').textContent = new Date().getFullYear();
    </script>
</body>

</html>